<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <% if @user.errors.any? %>
                <div class="alert alert-danger">
                    <p>
                        <%= @user.errors.count %> errors prohibited this obj from being saved:
                    </p>
                    <ul>
                        <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <h1>
                User info
            </h1>
            <%= form_with model: @user, method: :patch do |f| %>
                <label class="col-12">
                    Name
                    <%= f.text_field :name, class: "form-control", value: @user.name %>
                </label>
                <label class="col-12">
                    Image
                    <br/>
                    <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
                </label>
                <label class="col-12">
                    Introduction
                    <%= f.text_area :introduction, class: "form-control", value: @user.introduction %>
                </label>
                <div>
                    <%= f.submit "Update User", class: "btn btn-secondary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
