<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div>
            <a class="navbar-brand" href="/">
              <span>Bookers</span>
            </a>
          </div>
          <% if user_signed_in? %>
            <ul class="navbar-nav nav-pills">
              <li>
                <%= link_to user_path(current_user.id), class: "nav-link text-light" do %>
                  <i class="fas fa-home"></i>
                  <span>Home</span>
                <% end %>
              </li>
              <li>
                <%= link_to users_path(), class: "nav-link text-light" do %>
                  <i class="fas fa-users"></i>
                  <span>Users</span>
                <% end %>
              </li>
              <li>
                <%= link_to books_path, class: "nav-link text-light" do %>
                  <i class="fas fa-book-open"></i>
                  <span>Books</span>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                  <i class="fas fa-sign-out-alt"></i>
                  <span>Log out</span>
                <% end %>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav nav-pills">
              <li>
                <%= link_to "/", class: "nav-link text-light" do %>
                  <i class="fas fa-home"></i>
                  <span>Home</span>
                <% end %>
              </li>
              <li>
                <%= link_to about_path, class: "nav-link text-light" do %>
                  <i class="fas fa-link"></i>
                  <span>About</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                  <i class="fas fa-user-plus"></i>
                  <span>Sign up</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class: "nav-link text-light" do %>
                  <i class="fas fa-sign-in-alt"></i>
                  <span>Log in</span>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>

    <main class="mt-3">
      <%= yield %>
    </main>

    <footer>
      <div class="d-flex justify-content-center mt-5 mb-3">
        <div>
          CopyRight Infratop.inc
        </div>
      </div>
    </footer>
  </body>
</html>
